@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgray;
}
header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer {
    background-color: rgb(41, 41, 41);
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
}

i#burguer:hover{
    background-color: white;
    color: black;
}

menu {
    display: none;
}

p {
    padding: 10px;
    text-align: justify;
    ;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    background-color: rgb(100, 100, 100);
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid rgba(165, 165, 165, 0.808);
}

menu > ul > li > a:hover{
    background-color: gray;
}

main {
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}